name: Docs

on:
  workflow_dispatch:
permissions:
  contents: write

jobs:
  generate-docs:

    runs-on: windows-latest

    steps:
    - uses: actions/checkout@v4

    - name: Setup .NET 7.0
      uses: actions/setup-dotnet@v4
      with:
        dotnet-version: 7.x

    - name: Setup DocFX
      uses: crazy-max/ghaction-chocolatey@v3
      with:
        args: install docfx

    - name: DocFX Build
      working-directory: docs
      run: docfx docfx.json
      continue-on-error: false

    - name: Publish
      uses: peaceiris/actions-gh-pages@v3
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
        publish_dir: docs/_site
        force_orphan: true
